#top-container {
  background: #0bc770;
  min-height: 927px;
  padding: 230px 0;
}

#block {
  margin: auto;
  width: 200px;
  height: 200px;
  background: #fff url(../images/block.png) no-repeat 43px;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

.animated {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 100px;
    height: 100px;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    width: 200px;
    height: 200px;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    width: 300px;
    height: 300px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    width: 100px;
    height: 100px;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    width: 200px;
    height: 200px;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}
