#top-container {
  background: #0bc770;
  min-height: 927px;
  padding: 230px 0;
}

#block {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #fff url(../images/block.png) no-repeat 43px;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

.animated {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin: 0 auto;
  }

  100% {
    opacity: 100;
    margin: 100px auto;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    margin: 0 auto;
  }

  100% {
    opacity: 100;
    margin: 100px auto;
  }
}
