#top-container {
  background: #0bc770;
  min-height: 927px;
  padding: 230px 0;
}

#block {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #fff url(../images/block.png) no-repeat 43px;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

.animated {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

#block:hover {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg);
  }

  100% {
    opacity: 100;
    -webkit-transform: perspective(400px) rotateX(-30deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg);
  }

  100% {
    opacity: 100;
    -webkit-transform: perspective(400px) rotateX(-30deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(-30deg);
  }

  100% {
    opacity: 100;
    -webkit-transform: perspective(400px) rotateX(90deg);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: perspective(400px) rotateX(-30deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
  }
}
